.style1 {
    color: whitesmoke;
    margin-top: 1%;
    text-align: center;
}

.style2 {
    color: whitesmoke;
    margin-top: 3%;
    text-align: Left;
}

.tabela1 {
    margin-top: 10px;
    text-align: right;
    display: grid;
    grid-template-columns: 200px 200px;
}

.img1 {
    width: 400px;
}

.head {
    line-height: 25px;
    text-align: center;
    background-color: black;
    color: whitesmoke;
    font-size: large;
}
.body1{
    background-color: dimgray;
    font-size: larger;
    color: whitesmoke;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.body2 {
    font-size: larger;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.footer {
    line-height: 50px;
    text-align: center;
    color: whitesmoke;
    font-size: large;
    margin-top: 15%;
}

.alinhadireita {
    margin-left: 2%;
    text-align: left;
    font-size: larger;
}